<div class="input-section">
  <mat-form-field class="input">
    <input matInput placeholder="Search" #searchInput />
  </mat-form-field>
  <!-- Search Button -->
  <button
    mat-raised-button
    color="accent"
    (click)="onSearchClick(searchInput.value)"
  >
    Search
  </button>

  <!-- Dropdown -->
  <mat-form-field class="input">
    <mat-select
      placeholder="Select Category"
      (selectionChange)="onCategorySelect($event)"
    >
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
