.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .profile-photo {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .profile-details {
    p {
      font-size: 18px; /* Adjust font size as needed */
      font-weight: bold;
      /* Add other styles as needed */
    }
  }
}

.background-image {
  height: 20%; /* Set the height to 20% of the viewport */
  width: 100%;
  background-image: url("https://media.cntraveler.com/photos/5eb18e42fc043ed5d9779733/16:9/w_1920%2Cc_limit/BlackForest-Germany-GettyImages-147180370.jpg"); /* Add your background image URL here */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
